.cb_home_page{

    .cb_title_container{
        text-align: center;
        margin: 20px 0;
    }

}
//TODO SEPARA em ARQUIVO
.cb_main_title{
    font-size: 36px;
}

// TODO remover
.temp{
    display: block;
    width: 100px;
    margin: 0 auto;
}